@import "./components/TravelImgInfo.scss";

.invalid-state-id {
  padding: 150rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50rem;
}

.travel {
  padding: 26rem;

  @include desktop-small {
    padding: 52rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
    height: 100%;
  }

  &__info {
    @include desktop-small {
      max-width: 40%;
      height: 100%;
      position: relative;
    }
  }

  &__info-arrowLeft {
    display: none;

    @include desktop-small {
      margin: 19rem 0  39rem 0;
      width: 44rem;
      height: 44rem;
      background: linear-gradient(0deg, #1b1b1b 0%, #1b1b1b 100%),
      rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(20rem);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      transition: 0.2s all ease-in-out;

      &:hover {
        transform: scale(1.3);
      }
    }
    
  }

  &__img {
    width: 100%rem;
    height: 460rem;
    border-radius: 25.5rem;
    background: #d9d9d9;
    box-shadow: 0rem 4rem 4rem 0rem rgba(0, 0, 0, 0.25);
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 38rem;

    img {
      border-radius: 30rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }

    @include desktop-small {
      height: 100%;
    }
  }

  &__type-info {
    height: 27rem;
    display: flex;
    align-items: end;
    gap: 32rem;
    color: rgba(27, 27, 27, 0.62);
    font-family: Inter;
    font-size: 16rem;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 32rem;

    .active-type {
      color: #1b1b1b;
      font-size: 22rem;
    }

    & p {
      transition: 0.2s all ease-in-out;
      @include desktop-small {
        cursor: pointer;
        transition: 0.2s all ease-in-out;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .active-type {
      @include desktop-small {
        cursor: default;
        &:hover {
          transform: none;
        }
      }
    }

    @include desktop-small {
      align-items: end;
    }
  }

  &__indexes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #7e7e7e;
    font-family: Roboto;
    font-size: 18rem;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 34rem;

    .time,
    .temp,
    .rating {
      display: flex;
      align-items: center;

      & span {
        width: 34rem;
        height: 34rem;
        border-radius: 6rem;
        background: #ededed;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 6rem;
      }
    }

    .temp {
      position: relative;
      & > .cels {
        position: absolute;
        right: 10rem;
        top: 0;
      }
    }
  }

  &__desc {
    margin-bottom: 20rem;
    overflow: auto;

    @include desktop-small {
      min-height: 250rem;
      max-height: 40%;
    }
  }

  &__desc-txt {
    width: 100%;
    height: 100%;
    font-family: Roboto;
    font-size: 18rem;
    font-weight: 500;
    line-height: 150.188%;
    color: #7e7e7e;
  }

  &__desc-txt-overview {
    overflow: auto;
    color: #000000;
    background: linear-gradient(
      180deg,
      #a5a5a5 29.69%,
      rgba(165, 165, 165, 0) 89.06%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-right: 15rem;
  }

  &__btn-container {
    @include desktop-small {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }

  &__btn {
    padding: 21rem 120rem;
    border-radius: 20rem;
    background: linear-gradient(0deg, #1b1b1b 0%, #1b1b1b 100%),
      rgba(255, 255, 255, 0.4);
    box-shadow: 0rem 13rem 26rem -2rem rgba(0, 0, 0, 0.12);
    display: flex;
    align-items: center;
    justify-content: center;

    @include desktop-small {
      max-width: 80%;
      width: 100%;
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }

  &__btn-txt {
    min-width: 135rem;
    max-width: 200rem;
    color: #fff;
    font-family: Roboto;
    font-size: 20rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
