// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
body {
  font-family: "Montserrat", sans-serif;
}
html,
body,
#root {
  height: 100%;
}

#root {
  overflow-y: auto;
}
header {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64px 38px;

  & a {
    position: relative;
      &::after {
        content: "";
        position: absolute;
        display: block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #ff4a4a;
        bottom: -17px;
        left: 50%;
        transform: translateX(-50%) scale(0);
        transition: all 0.2s ease-in;
        opacity: 0;
      }
  }

  .active {
    &::after {
    transform: translateX(-50%) scale(1);
    opacity: 1;
    }
  }
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.home,
.history,
.heart,
.profile {
  padding-bottom: 80px;
}
