// font-family: 'Inter', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Roboto', sans-serif;
html {
  font-size: 1px;

  @include tablet-small {
    font-size: 1.1px;
  }
  @include tablet {
    font-size: 1.2px;
  }
  @include desktop-small {
    font-size: 1.4px;
  }
  @include desktop {
    font-size: 1.5px;
  }

}
body {
  font-family: "Montserrat", sans-serif;
}
html,
body,
#root {
  height: 100%;
}

#root {
  overflow-y: auto;

}

.wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 80rem;

  @include desktop-small {
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr 200rem;
  }

} 

.other-pages{
  padding-bottom: 0;

  @include desktop-small {
    display: flex;
  }
}


header {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65rem;
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 64rem 38rem;
  transition: all 0.2s ease-in;

  .header-app-active {
    display: none;
  }
  & span {
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    & svg {
      width: 100%;
      height: 100%;
    }
  }
  & svg {
    width: 22px;
    height: 22px;
  }
  & a {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #ff4a4a;
      bottom: -17px;
      left: 50%;
      transform: translateX(-50%) scale(0);
      transition: all 0.2s ease-in;
      opacity: 0;

      @include desktop-small {
        bottom: calc(50% + -8px);
        left: calc(150% + 8px);
        // right: 47px;
        transform: translateY(-50%) scale(0);
      }
    }
  }

  .active {
    transition: all 0.2s ease-in;
    .header-app {
      display: none;
    }

    .header-app-active {
      display: inherit;
    }

    &::after {
      transform: translateX(-50%) scale(1);
      opacity: 1;
      @include desktop-small {
        transform: translateY(-50%) scale(1);
      }
    }
  }

  @include desktop-small {
    position: static;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    border-left: 1px solid #bebebe;
    box-shadow: 1px 1px 20px #bebebe;
  }
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

.material-icons-outlined {
  font-family: "Material Icons";
  color: #e1e1e1;
  font-size: 28px;
}
