.home-travel-item-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  padding: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-end;

  .home-travel-item-info {
    width: 100%;
    border-radius: 15rem;
    background: rgba(29, 29, 29, 0.4);
    box-shadow: 0rem 5rem 9rem 0rem rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20rem);
    padding: 16rem 13rem;
    display: flex;
    flex-direction: column;
    gap: 13rem;
    font-family: Roboto;
    font-weight: 500;
    color: #cac8c8;

    &__name {
      color: #fff;
      font-size: 16rem;
      padding-left: 3rem;

      & span {
        color: #cac8c8;
        font-size: 14rem;
      }
    }
    &__detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Roboto;
      font-size: 14rem;
      font-weight: 400;

      .place {
        padding-left: 29rem;
        position: relative;
        & span {
          width: 16rem;
          height: 16rem;
          position: absolute;
          top: 0;
          left: 0rem;
        }
      }
      .rating {
        position: relative;
        & span {
          width: 12rem;
          height: 12rem;
          position: absolute;
          top: 0;
          left: -18rem;
        }
      }
    }
  }
}
