.travel-img-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  padding: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__hedear {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__hedear-arrowLeft,
  &__hedear-bookmark {
    width: 44px;
    height: 44px;
    background: rgba(29, 29, 29, 0.4);
    backdrop-filter: blur(20px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  &__info {
    width: 100%;
    border-radius: 15px;
    background: rgba(29, 29, 29, 0.3);
    box-shadow: 0px 5px 9px 0px rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-family: Roboto;
    font-weight: 500;
    color: #cac8c8;

    .info-nameTravel {
      color: #fff;
      font-family: Inter;
      font-size: 24px;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      > p {
        padding-right: 25px;

      }
    }

    .info-price {
      color: #cac8c8;
      font-family: Roboto;
      font-size: 16px;
      font-weight: 400;
    }

    .info-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #cac8c8;
      font-family: Roboto;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;

      .place {
        padding-left: 22px;
        color: #cac8c8;
        position: relative;
        padding-right: 25px;
        & span {
          max-width: 100%;
          width: 22px;
          height: 22px;
          position: absolute;
          left: -6px;
          top: 50%;
          transform: translateY(-50%);
          & svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .price-value {
        height: 100%;
        position: relative;
        font-size: 26px;
        font-weight: 500;
        line-height: normal;
        > p {
          height: 100%;
          line-height: 1.5;
          display: inline-block;
          vertical-align: sub;
        }
        & span {
          height: 100%;
          position: absolute;
          left: -15px;
          top: 100%;
          transform: translateY(-70%);
          color: #434343;
          font-size: 20px;
        }
      }
    }
  }
}
