.travel-img-info {
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  padding: 19rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  &__hedear {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include desktop-small {
      justify-content: flex-end;
    }    
  }

  &__hedear-arrowLeft,
  &__hedear-bookmark {
    width: 44rem;
    height: 44rem;
    background: rgba(29, 29, 29, 0.4);
    backdrop-filter: blur(20rem);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__hedear-arrowLeft {
    @include desktop-small {
      display: none;
    }    
  }
  
  &__hedear-bookmark {
    @include desktop-small {
      cursor: pointer;
      transition: 0.2s all ease-in-out;
      &:hover {
        transform: scale(1.3);
      }
    }    
  }

  &__info {
    width: 100%;
    border-radius: 15rem;
    background: rgba(29, 29, 29, 0.3);
    box-shadow: 0rem 5rem 9rem 0rem rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20rem);
    padding: 15rem;
    display: flex;
    flex-direction: column;
    gap: 13rem;
    font-family: Roboto;
    font-weight: 500;
    color: #cac8c8;

    .info-nameTravel {
      color: #fff;
      font-family: Inter;
      font-size: 24rem;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      > p {
        padding-right: 25rem;
      }
    }

    .info-price {
      color: #cac8c8;
      font-family: Roboto;
      font-size: 16rem;
      font-weight: 400;
    }

    .info-detail {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #cac8c8;
      font-family: Roboto;
      font-size: 18rem;
      font-weight: 400;
      line-height: normal;

      .place {
        padding-left: 22rem;
        color: #cac8c8;
        position: relative;
        padding-right: 25rem;
        & span {
          max-width: 100%;
          width: 22rem;
          height: 22rem;
          position: absolute;
          left: -6rem;
          top: 50%;
          transform: translateY(-50%);
          & svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .price-value {
        height: 100%;
        position: relative;
        font-size: 26rem;
        font-weight: 500;
        line-height: normal;
        > p {
          height: 100%;
          line-height: 1.5;
          display: inline-block;
          vertical-align: sub;
        }
        & span {
          height: 100%;
          position: absolute;
          left: -15rem;
          top: 100%;
          transform: translateY(-70%);
          color: #434343;
          font-size: 20rem;
        }
      }
    }
  }
}
